body {
    font-family: 'Roboto', serif;
}
.post {
    border: 1px solid gray;
    padding: 10px;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}
.div-header,.div-body, .div-footer {
    padding: 5px;
    margin: 5px;
    display: flex;
}
.div-header{
    padding: 0px;
    height: 80px;
    align-items: center;
}
.box {
    width: 40px;
    text-align: center;
}
img {
    height: 100%; 
    width: 100%; 
    object-fit: contain;
}
.div-footer {
    display: block;
}
.footer-up, .footer-middle, .footer-botom {
    margin: 1px;
    padding: 1px;    
}
.footer-up {
    display: flex;
    align-items: center;

}
.mini-box {
    width: 15px;
    height: 15px;    
    margin: 5px;
    text-align: center;
}
.push {
    margin-left: auto;
}
  